/* :root {
  font-size: 20px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 1.5em;
}

body {
  font: 1em/1.618 Inter, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 30px;
  margin: 0;

  color: #224;
  background:
    url(https://source.unsplash.com/E8Ufcyxz514/2400x1823) center / cover no-repeat fixed;
} */

.card {
  max-width: 200px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 500px;
  padding: 25px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  margin-bottom: 15px;
}

.card-footer {
  font-size: 0.65em;
  color: #446;
}

#contact_info {
  margin-bottom: auto;
}

#mapping_warnings {
  text-align: center;
}

#show_contact_index {
  text-align: center;
}

#contact_main_area {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#entries_info {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

#contact_phone_number {
  text-align: center;
}

#entries_sub_info {
  text-align: center;
}

#contact_photo_img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#dropdown_container {
  text-align: center;
}

#showContactCreateNotice {
  margin-bottom: 15px;
}

#contact_submit {
  text-align: center;
}

button {
  width: 100%;
  height: 56px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #FF6828;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 28px;
  transition: 0.3s ease;
}

select {
  width: 80%;
  max-width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

hr {
  border-color: #ffffff;
}
